
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,182,193);
}
@font-face {
  font-family: Notable;
  src: url(https://fonts.googleapis.com/css2?family=Notable&display=swap)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  display: flex;
  /* justify-content: space-evenly; */
  /* margin-left: auto; */
  background: black;
  color: white;
}

.navigation li {
  list-style: none;
  border: 1px solid rgb(238, 9, 97);
  border-radius: 10px;
  background-color: rgb(240, 11, 156);
  color: rgb(253, 255, 255);
}


.cards {
    text-decoration: none;
    background-color: black;
    border: 1px solid pink;
    color: white;
    text-align: center;
    width: auto;
    display: inline-grid;
    margin: 1rem 2rem 2rem;
    box-shadow: 0 0 1rem 0 rgb(226, 8, 121);
    border-radius: 10px;
    /* max-width: 100%; */
    height: auto;
    /* height: 70px; */
    
}

.cards img{
  width: 100%;
  height: auto;
  max-height: 120px;
  max-width: 208px;
}
.cards ul li {
  list-style: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.banner {
  display: flex;
}

.banner img {
  width: 30vw;
  /* min-height: 10vh; */
}

#head-info {
  color: rgb(231, 14, 181);
  width: 100%;
  background-color: black;
  font-family: Notable;
}

#head-info p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8vmin;
}

#discount {
  background-image: url("https://d1g145x70srn7h.cloudfront.net/files/4cea4f5e82c44c6e28f6ecfa3561bc4738768911/original.jpeg") ;
  min-height: 30vh;
  /* width: 100vw; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(255, 166, 193);
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Notable;
  font-size: 2rem;
  font-weight: bold;
}